<div class="card">
  <div class="card-header">
    <h4 class="text-center">
      Validation Messages
    </h4>
  </div>
  <div class="card-body">
    <form [formGroup] = "customerForm" (ngSubmit) = "submit(customerForm)">
      <div class="row form-group mb-3">
        <div class="col-md-2">
          <label for="" class="col-form-label">First Name</label>
        </div>
        <div class="col-md-8">
            <input type="text" class="form-control" formControlName = "firstname"
            [ngClass] = "{'is-invalid': firstNameMessage}">
            <span class="invalid-feedback alert alert-danger">
                {{firstNameMessage}}
            </span>
        </div>
      </div>
      <div class="form-group row mb-3">
        <div class="col-md-2">
          <label for="" class="col-form-label">Email</label>
        </div>
        <div class="col-md-8">
          <input type="email" class="form-control" formControlName="email"
          [ngClass] = "{'is-invalid': emailMessage}">
          <span class="invalid-feedback alert alert-danger">
            {{emailMessage}}
        </span>
        </div>
      </div>
    </form>
  </div>
</div>
